.card {
    width: 160px;
    height: 260px;
    margin: 12px;
    float: left;
    position: relative;
}

.card:hover {
    width: 160px;
    height: 260px;
    margin: 12px;
    float: left;
    position: relative;
    box-shadow: rgb(24, 144, 255) 0px 0px 10px;
}