domain.local {
    encode gzip
    tls internal
    reverse_proxy pdc:8080 
    log {
        output file         access.log
        format single_field common_log
    }
}

oss.domain.local {
    tls internal
    reverse_proxy minio:9000 
    header /image/* Cache-Control max-age=31536000
    header /vtt/* Cache-Control max-age=31536000
}