.video-js .vjs-texttrack-settings {
    display: none;
}

// .video-js .vjs-subs-caps-button {
//     display: none;
// }

.video-js .vjs-text-track-cue div {
    color: blue;
}

.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
}

.video-js .vjs-time-control {
    display: block;
}

.video-js .vjs-remaining-time {
    display: none;
}

.video-js .vjs-text-track-display>div>div>div {
    background: transparent !important;
    text-shadow: rgb(34, 34, 34) 0px 0px 4px, rgb(34, 34, 34) 0px 0px 4px, rgb(34, 34, 34) 0px 0px 4px, rgb(34, 34, 34) 0px 0px 4px;
    display: inline-block !important;
    font-family: "Monotype Corsiva", cursive !important;
}