.pdc-card-default {
    margin: 12px;
    border-radius: 10px;
    background-color: #dee0e0;
    opacity: 0.9;
    background: #dee0e0;
    box-shadow: 12px 12px 24px #bdbebe,
        -12px -12px 24px #ffffff;
}

.pdc-card-default:hover {
    background: linear-gradient(145deg, #c8caca, #eef0f0);
    box-shadow: 12px 12px 24px #bdbebe,
        -12px -12px 24px #ffffff;
}

.pdc-card-selected {
    margin: 12px;
    opacity: 0.9;
    border-radius: 5px;
    background: #dee0e0;
    box-shadow: inset 12px 12px 24px #bdbebe,
        inset -12px -12px 24px #ffffff;
}