.pdc-card-default {
    margin: 12px;
    border-radius: 5px;
    background: #ebf5fc;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 1), 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.pdc-card-default:hover {
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5), inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.pdc-card-selected {
    margin: 12px;
    border-radius: 5px;
    background: #ebf5fc;
    box-shadow: inset 20px 20px 60px #c8d0d6,
        inset -20px -20px 60px #ffffff;
}